.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

a {
    color: #4293F8;
    font-weight: bold;
}

.title-login {
    color: #9198A1;
    font-size: 40px;
}